# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.dll
*.a

# Executables
*.exe
*.out
*.app

#IDE Stuff
*.layout
*.res
*.depend

#Logging
log.txt

#Folders (so library headers don't get pushed for C::B users!)
include/GL
include/glm
include/SDL2
include/boost
libs/
obj/

# Makefile related stuff
*.make
Makefile

#SILENT HILL 3 stuff
*.arc
*.000
*.afs

# Documentation
/docs
/Debug/
